.wrapper {
    background: url('../img/banner.png') -90px;
    width: 100%;
    height: auto;
    background-size: cover;
}

.wrapp h2 {
    color: rgb(14, 131, 204);
    text-transform: uppercase;
    max-width: max-content;
    padding: 8px 30px 8px 30px;
    background-color: rgb(203, 227, 233);
    margin-top: 10px;
    font-size: 34px;
    border-radius: 3px;
    font-weight: 600;
}
.wrapp h2 code {
    text-transform: lowercase;
    font-size: 20px;
    vertical-align:middle;
    color: rgb(14, 131, 204);
}
.wrapp ul {
    max-width: 600px;
}

.wrapp ul li::marker{
    color: rgb(14, 131, 204);
    font-size: 25px;
}
.wrapper h3 {
    text-transform: uppercase;
    margin-left: 20px;
}
.wrapper h3 code {
    color: black;
    text-transform: lowercase;
}
.container {
    margin: 0;
}

.group ul {
    display: grid;
    grid-template-columns: 250px 250px;
    list-style-type: none;
    justify-content: space-between;
    text-align: center;
}
.group ul li {
    color: rgb(14, 131, 204);
    border: 1px solid rgb(14, 131, 204);
    padding: 5px;
}
.clap li {
    margin-bottom: 20px;
}
.bg3 {
    background: url('../img/Bg2.svg');
    background-size: cover;
    background-position: -50px;
    background-color: rgb(56, 124, 192);
}
.wrap {
    padding: 20px;
}
.menu {
    color: rgb(14, 131, 204);
    text-transform: uppercase;
    line-height: 40px;
    background-color: rgb(203, 227, 233);
    background-position-y: 100%;
    font-size: 30px;
    border-radius: 2px;
    font-weight: 600;    
    display: flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;

}

.menu code {
    color: rgb(14, 131, 204);
    text-transform: lowercase;
}
.menu h2, p {
    margin: 0 auto;
}
.menu img {
    width:25px;
    height: 100%;

}
.menu .fif {
    color: red;
    font-weight: 700;
    font-size: 32px;
    vertical-align: middle;
}
.menu .off {
    color: red;
    font-weight: 500;
    font-size: 25px;
    vertical-align: middle;

}
.menu p {
    font-size: 22px;
    font-weight: normal;
}
.form {
    padding: 20px;
}
.form form{
    justify-content: space-between;
}
.form form input {
    margin-bottom: 20px;
} 