.wrapper {
    background: url('../img/banner.png') -90px;
    width: 100%;
    height: auto;
    background-size: cover;
}

.wrapp h2 {
    color: rgb(14, 131, 204);
    text-transform: uppercase;
    max-width: max-content;
    padding: 8px 30px 8px 30px;
    background-color: rgb(203, 227, 233);
    margin-top: 10px;
    font-size: 34px;
    border-radius: 3px;
    font-weight: 600;
}
.wrapp h2 code {
    text-transform: lowercase;
    font-size: 20px;
    vertical-align:middle;
    color: rgb(14, 131, 204);
}
.wrapp ul {
    max-width: 600px;
}

.wrapp ul li::marker{
    color: rgb(14, 131, 204);
    font-size: 25px;
}
.wrapper h3 {
    text-transform: uppercase;
    margin-left: 20px;
}
.wrapper h3 code {
    color: black;
    text-transform: lowercase;
}

.group ul {
    display: grid;
    grid-template-columns: 250px 250px;
    list-style-type: none;
    justify-content: space-between;
    text-align: center;
}
.group ul li {
    color: rgb(14, 131, 204);
    border: 1px solid rgb(14, 131, 204);
    padding: 5px;
}
.clap li {
    margin-bottom: 20px;
}