@import './sprite.css';


header {
	display: flex;
	justify-content: flex-start;
}


/* Гамбургер иконка */
.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
}

.menu-btn .bar {
	width: 30px;
	height: 4px;
	position: absolute;
	top: 50%;
	left: 50%;
    border-radius: 4px;
	transform: translate(-50%, -50%);
	background-color: rgb(255, 255, 255);
	transition: all 0.3s ease-in-out;
}

.menu-btn .bar:nth-of-type(2) {
	top: calc(50% - 9px);
}
.menu-btn .bar:nth-of-type(3) {
	top: calc(50% + 9px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active .bar:nth-of-type(1) {
  display: none;
}
.menu-btn.active .bar:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active .bar:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}

/* Меню, которое будет появляться */
.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
    background: #FFEFBA;
	transform: translateX(100%);
	transition: transform 0.5s; 
}

.nav.active {
	transform: translateX(0);
}

.nav .nav__list_item {
	list-style-type: none;
}

/* _________________________________________________ */

body {
    margin: 0;
    padding: 0;
    border: none;
}

.head {
    background: url(../Bg\ Dark2.svg);
    border: none;
}

.head header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-weight: 200;
    border: none;
}

.head ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    color: white;
    margin: 0;
    margin-top: 7px;
    padding-bottom: 7px;
    
}

.upper {
    text-transform: uppercase;
    font-size: 18px;

}

.phone strong {
    padding-right: 20px;
}

.svg li {
    display: flex;
    font-weight: 600;
    align-items: center;
}

.svg .help {
    margin-right: 50px;
    cursor: pointer;
}

.svg i {
    margin-left: 10px;
    display: block;
}

.bg {
    background-color: rgb(90, 167, 244);
}

@media screen and (min-width: 1200px) {

    .nav-menu .active {
	text-transform: uppercase;
	list-style-type: none;
	cursor: pointer;
	color: rgb(0, 0, 0);
	display: none;
	padding: 4px 0;
}
.nav-menu .active li :hover {
	background-color: white;
	color: rgb(90, 167, 244);
}

	.menu-btn {
		display: none;
	}

	.nav-menu {
		display: block;
	}

	.second ul {
		display: flex;
		text-transform: uppercase;
		list-style-type: none;
		text-align: center;    
		color: white;
		justify-content: space-around;
	}

	.second ul li:hover {
		background-color: rgb(219, 241, 249);
		color: rgb(90, 167, 244);
	}

	.second ul li {
		border-left: 2px solid white;
		cursor: pointer;
		text-align: center;
		flex-wrap: wrap;
		padding: 4px 0;
	}
	.second .pik {
		border: none;
	}
    .bg {
    background-color: rgb(90, 167, 244);
}
} 
